body{
    background-color:black;
    padding:0;
    margin:0;
    display:block;
    z-index:-1;
}
.naslov{
    position:absolute;
    left:50%;
    cursor:pointer;
    font-family:arial;
    font-size:20px;
    width:150px;
    height:0px;
    background-color:rgb(109, 107, 107);
    transition:0.5s;
}
.naslov::after{
    content:"";
}
.naslov:hover::after{
    content:"KOMŠIJA BRKA";
    vertical-align: bottom;
    color:crimson;
    transition:1s;
}
.naslov:hover{
    width:150px;
    height:20%;
    border-radius:10px;
    background-color:rgb(109, 107, 107);
    z-index:2;
    transition:1s;
}
.banner{
    background-color:darkorange;
    position:absolute;
    height: 10%;
    width:100%;
    z-index: -1;
    padding:0;
}
.hub{
    color:darkorange;
    background-color:black;
    border-radius:10px;
}
.hamburger{
    padding:0;
    position:absolute;
    left:95%;
    cursor:pointer;
}
#linija1{
    padding:0;
    top:5%;
    transition:0.1s;
}
#linija2{
    padding:0;
    top:7.5%;
    transition:0.1s;
}
#linija3{
    padding:0;
    top:10%;
    transition:0.1s;
}
#linija1.iks{
    position:absolute;
    transform:rotate(45deg);
    top:0.7cm;
    left:97.5;
    transition:0.1s;
}
#linija2.iks{
    position:absolute;
    display:none;
    top:5%;
    transition:0.1s;
}
#linija3.iks{
    position:absolute;
    transform:rotate(-45deg);
    top:0.7cm;
    transition:0.1s;
}
.meniSadrzaj{
    position:absolute;
    visibility: hidden;
    top:20%;
    right:0;
    width:200px;
    height:500px;
    background-color:rgb(109, 107, 107);
    transition:0.1s;
}
.meniSadrzaj.iks{
    position:absolute;
    visibility: visible;
    top:10%;
    right:0;
    width:200px;
    height:500px;
    border-radius:5px;
    background-color:rgb(109, 107, 107);
    padding:1%;
    z-index:-3;
    transition:0.1s;
}
#prijava{
    position:absolute;
    font-size:x-large;
    cursor:pointer;
    top:15%;
    right:3%;
    color:darkorange;
    padding:0;
}
#registracija{
    position:absolute;
    font-size: x-large;
    cursor:pointer;
    top:25%;
    right:3%;
    color:darkorange;
    padding:0;
}
#odjava{
    position:absolute;
    font-size:x-large;
    cursor:pointer;
    top:35%;
    right:3%;
    color:darkorange;
    padding:0;
}
#prijava:hover{
    background-color:darkslategray;
    transition:0.1s;
}
#registracija:hover{
    background-color:darkslategray;
    transition:0.1s;
}
#odjava:hover{
    background-color:darkslategray;
    transition:0.1s;
    width:100%;
}
.registracijaGlavna{
    visibility:hidden;
    height: 80%;
    left:40%;
    top:10%;
    width:50%;
    position:absolute;
    border-radius: 5px;
    background-image:linear-gradient(to right, darkgray ,rgb(114, 111, 111));

}
.registracijaGlavna.registracija{
    visibility:visible;
    height:80%;
    left:40%;
    top:10%;
    width:25%;
    position:absolute;
    border-radius: 5px;
    background-image:linear-gradient(to right, darkgray ,rgb(114, 111, 111));
    transition:0.3s;

}
#ime{
    top:10%;
    left:30%;
    position:absolute;
    background-color:darkgray;
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
}
#prezime{
    top:15%;
    left:30%;
    position:absolute;
    background-color:darkgray;
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
}
#mail{
    top:20%;
    left:30%;
    position:absolute;
    background-color:darkgray;
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
}
#username{
    top:25%;
    left:30%;
    position:absolute;
    background-color:darkgray;
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
}
#lozinka{
    top:30%;
    left:30%;
    position:absolute;
    background-color:darkgray;
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
}
#lozinka2{
    top:35%;
    left:30%;
    position:absolute;
    background-color:darkgray;
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
}
#submit{
    top:45%;
    left:30%;
    position:absolute;
    border-radius:15px;
    border-color:chocolate;
    background-color:darkorange;
    font-size: larger;
    cursor:pointer;
    color:navy;
    font-weight: bold;
    width:50%;
}
.prijavaGlavna{
    visibility: hidden;
    height:50%;
    left:40%;
    top:10%;
    width:20%;
    position:absolute;
    border-radius: 5px;
    background-image:linear-gradient(to right, darkgray ,rgb(114, 111, 111));
}
.prijavaGlavna.prijavaAktivno{
    visibility: visible;
}
#usernamelog{
    top:25%;
    left:20%;
    position:absolute;
    background-image:linear-gradient(to right, rgb(168, 168, 168) ,rgb(114, 111, 111));
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
    border-bottom-color:black;
    border-bottom-width: 3px;
}
#lozinkalog{
    top:35%;
    left:20%;
    position:absolute;
    background-image:linear-gradient(to right, rgb(168, 168, 168) ,rgb(114, 111, 111));
    color:black;
    font-size: larger;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:50%;
    border-bottom-width: 3px;
    border-bottom-color:black;
}
#textOtvoriNalog{
    position:absolute;
    font-family:arial;
    font-size:small;
    top:45%;
    left:20%;
    color:black;
    font-weight: bold;
    cursor:pointer;
}
#hiperlink{
    color:darkorange;
    text-decoration: underline darkorange;
}
#submitlog{
    top:55%;
    left:20%;
    position:absolute;
    border-radius:15px;
    border-color:chocolate;
    background-color:darkorange;
    font-size: larger;
    cursor:pointer;
    color:navy;
    font-weight: bold;
}
#kime{
    position:absolute;
    top:1%;
    left:5%;
    font-family: arial;
    color:black;
    z-index:5;
    font-size:larger;
    font-weight: bold;
    cursor:pointer;
    transition:0.2s;
}
.add{
    position:absolute;
    top:80%;
    left:90%;
    background-color:darkorange;
    width:100px;
    height:100px;
    border-radius:100%;
    z-index:3;
    border:3px solid chocolate;
    cursor:pointer;

}
.add:hover{
    animation: animacijaskok 0.5s 0.1s forwards;

}
#plus1{
    top:40%;
    position:relative;
}
#plus2{
    top:25%;
    position:relative;
    transform:rotate(90deg);
}
@keyframes animacijaskok{
    0%{
        top:80%;
    }
    50%{
        top:78%;
    }
    100%{
        top:80%;
    }
}
.objavi{
    visibility: hidden;
    position:absolute;
    top:10%;
    left:20%;
    height:90%;
    width:50%;
    background-image:linear-gradient(to right, darkgray ,rgb(114, 111, 111));
    border-radius:20px;
}
.objavi.objavljivanjeAktivno{
    visibility:visible;
}
#input{
    position:relative;
    top:10%;
    left:5%;
    background-color:darkorange;
    font-size:x-large;
    font-family:arial;
    font-weight:bold;
    border-radius:15px;
    border: 5px solid chocolate;
    cursor:pointer;
    transition:0.3s;
}
#input:hover{
    border: 5px solid orange;
    cursor:pointer;
    transition:0.3s;
}
#input1{
    display:none;
}
#objavisliku
{
    position:absolute;
    top:7%;
    left:85%;
    font-family: arial;
    font-size:x-large;
    color:black;
    font-weight:bold;
    background-color:darkorange;
    border: 5px solid chocolate;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}
#objavisliku:hover
{
    border: 5px solid orange;
    transition:0.3s;
}
#slikapre{
    position:absolute;
    top:15%;
    left:5%;
}
@media (max-width:950px){
    .banner{
        width:120%;
    }
    .meniSadrzaj.iks{
        position:absolute;
        top:10%;
        right:0;
        width:200px;
        height:500px;
        border-radius:5px;
        background-color:rgb(109, 107, 107);
        padding:1%;
        z-index:-3;
        transition:0.1s;
    }
    #prijava.iks{
        position:absolute;
        visibility: visible;
        top:15%;
        right:3%;
        color:darkorange;
        padding:0;
        z-index:4;
        transition:0.1s;
        cursor:pointer;
        transition:0.1s;
    }
    #registracija.iks{
        position:absolute;
        visibility: visible;
        color:darkorange;
        top:25%;
        right:3%;
        padding:0;
        transition:0.1s;
        cursor:pointer;
        transition:0.1s;
    }
    #odjava.iks{
        position:absolute;
        visibility: visible;
        font-size:x-large;
        top:35%;
        right:3%;
        color:darkorange;
        padding:0;
        cursor:pointer;
        transition:0.1s;
    }
    .registracijaGlavna.registracija{
        width:60%;
    }
    .prijavaGlavna.prijavaAktivno{
        visibility: visible;
        height:50%;
        left:40%;
        top:10%;
        width:60%;
        position:absolute;
        border-radius: 5px;
        background-color:rgb(109, 107, 107);
    }
    #usernamelog{
        top:25%;
        left:20%;
        position:absolute;
        background-color:darkgray;
        color:black;
        font-size: larger;
        border:none;
        border-radius:5px;
        cursor:pointer;
        width:45%;
    }
    #lozinkalog{
        top:40%;
        left:20%;
        position:absolute;
        background-color:darkgray;
        color:black;
        font-size: larger;
        border:none;
        width:45%;
        border-radius:5px;
        cursor:pointer;
    }
    #submitlog{
        top:55%;
        left:20%;
        position:absolute;
        border-radius:15px;
        border-color:chocolate;
        background-color:darkorange;
        font-size: larger;
        cursor:pointer;
        width:50%;
        color:navy;
        font-weight: bold;
    }
    #kime{
        position:absolute;
        top:1%;
        left:5%;
        font-family: arial;
        color:black;
        z-index:5;
        font-size:larger;
        font-weight: bold;
        cursor:pointer;
        width:30%;
        transition:0.2s;
    }
    .add{
        position:absolute;
        top:100%;
        left:90%;
        background-color:darkorange;
        width:100px;
        height:100px;
        border-radius:100%;
        z-index:3;
        border:3px solid chocolate;
        cursor:pointer;
    
    }
    #ime{
        width:60%;
        left:15%;
    }
    #prezime{
        width:60%;
        left:15%;
    }
    #mail{
        width:60%;
        left:15%;
    }
    #username{
        width:60%;
        left:15%;
    }
    #lozinka{
        width:60%;
        left:15%;
    }
    #lozinka2{
        width:60%;
        left:15%;
    }
    #submit{
        width:50%;
        left:15%;
    }
    .objavi{
        height:90%;
        width:80%;
    }
    .objavi.objavljivanjeAktivno{
        visibility:visible;
    }
    #input{
        top:10%;
        left:5%;
    }
    #input:hover{
        border: 5px solid orange;
        cursor:pointer;
        transition:0.3s;
    }
    #input1{
        display:none;
    }
    #objavisliku
    {
        position:absolute;
        top:12%;
        left:5%;
    }
    #objavisliku:hover
    {
        border: 5px solid orange;
        transition:0.3s;
    }
}
input:focus{
    outline: none;
    box-shadow: -6px 9px 0px -7px darkorange, 6px 9px 0px -7px darkorange;
}
